body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c2720;
  font-family: "Poppins", sans-serif;
}

.message {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin: 0;
  color: #fff;
}

p {
  color: #fff;
  font-weight: 200;
  margin: 0;
}
